:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #18a0fb;
  --pressed-color: #404bbf;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --primary-blue-color: #4d5ae5;
  --hero-banner-color: rgba(46, 47, 66, 0.7);
  --hero-text-color: #ffffff;
  --footer-color: #2e2f42;
  --footer-text-color: #f4f4fd;
  --our-team-background: #f4f4fd;
  --background-cards-our-services: #e7e9fc;
  --header-color: #e7e9fc;
  --body-background: #ffffff;
  --background-main: #e5e5e5;
  --secondary-slate: #8E8F99;  
  --icons-green-hover: #31D0AA; 
  --modal-window: #FCFCFC;
}

/* Body*/
body {
  background-color: var(--body-background);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

/*Container*/

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
}

.section {
  padding: 188px 0;
}

.section.no-padding {
  padding-top: 0;
}

.section-secondary {
  padding-top: 120px 0;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-top: 0;
}

.title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Header section*/
header {
  background-color: var(--body-background);
  border-bottom: 1px solid var(--background-cards-our-services);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px 
  rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}

.header .container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo.link {
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-blue-color);
}

.logo-black {
  color: var(--title-text-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .list {
  display: flex;
  margin-right: 0px;
}

.site-nav .link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--pressed-color);
}

.site-nav .item {
  position: relative;
}

.site-nav-link::after {
 content: ''; 
 position: absolute;

 display: block;
 width: 100%;
 height: 4px;
 left: 0px;
 bottom: 0px;
border-radius: 2px;
}

 .site-nav-link.current{
  color: var(--pressed-color);
  }

.site-nav-link.current::after,
.site-nav-link:hover::after,
.site-nav-link:focus::after {
  content: '';
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;

 background-color: var(--pressed-color);
 border-radius: 2px;
}

/*.header-nav-link::after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

.header-nav-link.current {
  color: var(--accent-txt-cl);
}


.header-nav-link.current::after,
.header-nav-link:hover::after,
.header-nav-link:focus::after {
  background-color: var(--accent-bg-cl);
*/

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}



.auth-nav .list {
  display: flex;
}

.auth-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.auth-nav .list .item {
  margin-right: 0px;
}

.auth-nav .list .item:not(:last-child) {
  margin-right: 40px;
}

.auth-nav .list .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.auth-nav .list .link:focus,
.auth-nav .list .link:hover {
  color: var(--pressed-color);
}

/*Hero section*/
.hero.section {
padding-top: 0;
padding-bottom: 0;
max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
background-image: linear-gradient(
  rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
 url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  color: var(--primary-white-color);
  text-align: center;
}

.hero-title {
  color: var(--hero-text-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  display: inline-block;
  margin: 0px 0px 48px 0px;
  padding-top: 188px;
}

.hero-button {
  display: block;
  height: 56px;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: var(--primary-blue-color);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-white-color);
  background-color: var(--pressed-color);
}

/* Values*/

.values.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section .title {
  margin-top: 0px;
  margin-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.thumb{
display: flex;
align-items: center;
justify-content: center; 
height: 112px;
background-color: var(--our-team-background);
padding: 24px;
margin-bottom: 8px;
border-radius: 4px;
}

.values.title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 0px;
  margin-bottom: 8px;
}

.values.list {
  display: flex;
  row-gap: 48px;
}

.values.item{
  display: block;
}

.values.item {
  width: calc((100% - 72px) / 4);
}

.values.item:not(:last-child) {
  margin-right: 24px;
}

.button-icon {
  margin: 0;
  padding: 0;
  }

.values-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*Our services section*/

.services.section {
  padding-bottom: 120px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.services-item {
  margin: 0px;
}
.services .list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: calc((100% - 48px) / 3);
}

.services-item:not(:last-child) {
  margin-right: 24px;
}

/*Our team*/
.team {
  background-color: var(--our-team-background);
}

.team.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team .list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  background-color: var(--primary-white-color);
  border-radius:0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

.team .title {
  text-align: center;
  margin-bottom: 8px;
}

.team-wrapper {
  padding-top: 32px; 
  padding-bottom: 32px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* Socials icons */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
   }

   
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-blue-color);
  border-radius: 50%;
 }

 .socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-color);
}

.socials-icon{
  fill:var(--secondary-white-color);
}

/*Clients*/

.customers.section{
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers .section-title{
  line-height: 1.1;
}
.customers.list{
display: flex;
justify-content: center;
align-items: baseline;
gap: 24px;
}

.customers-link {
display: flex;
justify-content: center;
align-items: center;
padding: 16px 32px ;
color: var(--secondary-slate);
border: 1px solid var(--secondary-slate);
border-radius: 4px;
}

.customers-item{
  width: calc((100% - 120px) / 6);
  height: 88px;
  }

.customers-link {
  width: 100%;
  height: 100%;
}
.customers-link:hover,
.customers-link:focus {
  color: var(--pressed-color); 
  border: 1px solid var(--pressed-color);
  }

  .customers-logo{
    fill: currentColor;
  }
  
/*Footer section*/
.footer {
  background-color: var(--footer-color);
  color: var(--secondary-white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.container.flex {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.footer.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .link {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
}
.logo-footer {
  color: var(--secondary-white-color);
}

.footer-text {
  width: 264px;
}

/*socials*/

.footer-socials-name{
color: var(--primary-white-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
margin-bottom: 16px;}
  
.footer .socials.list{
display: flex;
align-items: baseline;
gap: 16px;
}
 
.footer .socials-link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;  
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--icons-green-hover);
}

.footer .socials-item{
  width: 40px;
  height: 40px;
}

/*Portfolio page*/

/*Filter and portfolio*/

.categories.section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.categories .type {
  display: inline-block;
  margin-right: 24px;
}

.list-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-type {
  margin-bottom: 72px;
  gap: 24px;
  margin-top: 0;
  margin-left: 0;
}

.categories-items:not(:last-child) {
  margin-right: 24px;
}

.categories-button {
  color: var(--primary-blue-color);
  border-bottom: var(--background-cards-our-services);
  background-color: var(--secondary-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid var(--background-cards-our-services);
  display: inline-block;
  border-radius: 4px;
  padding: 12px 24px;
  min-width: 126px;
  align-items: center;
  text-align: center;
}

.categories-button:hover,
.categories-button:focus {
  color: var(--primary-white-color);
  background-color: var(--pressed-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px
   rgba(0, 0, 0, 0.12); 
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0px;
}

.li .portfolio-item {
  display: block;
  flex-basis: calc((100% - 24px * 2) / 3);
  width: 360px;
  padding: 24px 0px;
  margin-bottom: 24px;
  margin-right: 24px;
}

.portfolio-item {
  border: var(--background-cards-our-services);
  background-color: var(--primary-white-color);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-thumb{
position:relative;
}

.portfolio-thumb::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-blue-color);
  opacity: 0;
}

.portfolio-thumb:hover::before {
  opacity: 1;
}

.portfolio-wrapper {
  border-bottom: 1px solid var(--background-cards-our-services);
  border-left: 1px solid var(--background-cards-our-services);
  border-right: 1px solid var(--background-cards-our-services);
  border-radius: 0px;
  padding: 32px 16px;
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: auto;
  margin-bottom: 8px;
}

.portfolio-category {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: auto;
  margin-bottom: 0px;
  text-decoration:none;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.portfolio-link {
  display: block;
  text-decoration: none;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: var(--footer-text-color);
  opacity: 0;
}

.portfolio-label:hover,
.portfolio-label:focus {
  opacity: 1;
}

/*Модальне вікно*/
.backdrop{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  
  background-color: rgba(46, 47, 66, 0.4);
}

.modal{
  position: absolute;
  
  top: calc(50% - 288px);
  left: calc(50% - 204px);

  width: 408px;
  min-height: 576px;

  background-color: var(--modal-window);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn{
  display:block;
  border-radius: 50%;

  margin-top: 24px;
  margin-right:24px;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  color: var(--footer-color);
  background-color: var(--background-cards-our-services);
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

}
 


